@import "navbar.css";
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  background:black;
  font-size:1.0em;
  border-right: 2px solid grey;
  border-top: 2px solid grey;
}
.sidebar{
margin-top: 80px;}
.profile{
margin-top: 80px;
padding-top: 20px;
padding-left:20px;
}
.sidebar a {
  display: block;
  padding: 16px;
  text-decoration: none;
  text-align:center;
  color:white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin-top:0px
  }
  .navbar{
  position:relative;
  margin-top: 0px !important;}
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  .profile{
  margin-top:0px;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.c4 a{
    color:green !important;
}
