{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
</head>
<body>
<div class="bg-modal_login">
        <div class="modal-content_login">
            <p style="font-size:160%;">Welcome</p>
            <div id = "error2"></div>
            {% for message in messages|slice:":1"  %}
						<p style="color:red;">{{message}}</p>
            {% endfor %}
            <br>
            <div class="form_otp">
                <form id="register_form" action="" method="POST">
                    {% csrf_token %}
                    <input class="otp" type="text" name="email" id="email" placeholder="Email" />
                    <br>
                    <input class="otp" type="password" name="password" id="password" placeholder="Password" />
                </form>
                  <br>
                  <button class="button button1" form="register_form" type="submit"  >Sign In</button>
            </div>
        </div>
</div>

</body>
</html>

